body {
	background-color: #232323;
	margin: 0;
	font-family: "Monteserrat", "Avenir";
}

.square{
	width: 30%;
	background: purple; 
    padding-top: 30%;
    float: left;	
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition : background 0.6s;
    -moz-transition : background 0.6s; 
}

#container{
	max-width: 600px;
	margin: 20px auto;
}
h1{
	color: white;
	text-align: center;
	line-height: 1.1;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0px;
}

#colordisplay {
	font-size: 200%;
}

#stripe {
   background: white;
   height: 30px;
   text-align: center;
   color: black;
}
.selected {
	background: steelblue;
	color: white;
}

button {
   border: none;
   background: none;
   text-transform: uppercase;
   height: 100%;
   font-weight: 700;
   color: steelblue;
   letter-spacing: 1px;
   font-size: inherit;
   transition: all 0.3s;
   -webkit-transition : background 0.3s;
   -moz-transition : background 0.3s;
   outline: none; 

}
#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background: steelblue;
}


